/build
/venv

out.bin
out.elf
out.asm

*.nds
*.sav
*.ml*
*.nds.skytemple
*.xdelta

symbols/generated_*.ld
decoi*

patches/generated_by_rust.cotpatch
extracted/

temp_rom_folder/
fs_patch_temp/
tool/model_convert/target